html
  head
    title blotjot board
    - var viewport_content = "user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1";
    meta(name:"viewport", content:viewport_content)
    script(src="http://cdn.socket.io/stable/socket.io.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/js/json2.js")
    :javascript
      | ROOM_ID = #{room_id};
    script(src="/js/socketclient.js")
    script(src="/js/drawing.js")
    link(href="/css/board-ios.css", rel="stylesheet", type="text/css")
  body(class=board_type)
    - var board_width = board_type == 'ipad' ? 766 : 318;
    - var board_height = board_type == 'ipad' ? 944 : 414;
    canvas#whiteboard(width=board_width,height=board_height) Your browser doesn't support canvas.
    
