html
  head
    link(href="/css/board.css", rel="stylesheet", type="text/css")
    :javascript
      | WEB_SOCKET_SWF_LOCATION = '/swf/WebSocketMainInsecure.swf';
    script(src="http://cdn.socket.io/stable/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.4.2.min.js")
    script(src="/js/json2.js")
    :javascript
      | io.setPath('http://cdn.socket.io/stable/');
      | ROOM_ID = #{room_id};
    script(src="/js/board.js")
    :javascript
      | $(function() {
      |   $(".test-send").click(function() { window.testSendShapes(); });
      |   $(".test-receive").click(function() { window.testReceiveShapes(); });
      | });
  body
    h2.title Whiteboard
    div.test-buttons
      button.test-send Test Send
      button.test-receive Test Receive
