html
  head
    script(src="http://cdn.socket.io/stable/socket.io.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/js/json2.js")
    :javascript
      | ROOM_ID = "#{room_id}";
    script(src="/js/socketclient.js")
    script(src="/js/drawing.js")
    link(href="/css/board.css", rel="stylesheet", type="text/css")
  body(class=board_type)
    div.canvas-container
      - var board_width = board_type == 'ipad' ? 766 : 318;
      - var board_height = board_type == 'ipad' ? 944 : 414;
      canvas#whiteboard(width=board_width,height=board_height) Your browser doesn't support canvas.  Please download chrome or firefox.
      div.toolbox
        div.tool
          div.name Color
          div.control
            div.stroke-color
            div.swatches
              div.swatch
              div.swatch
              div.swatch
              div.swatch
              div.swatch
              div.swatch
              div.swatch
              div.swatch
        div.tool
          div.name Width
          div.control
            div.width-opt.width-opt-thin thin
            div.width-opt.width-opt-medium medium
            div.width-opt.width-opt-thick thick
        div.tool
          div.name
          div.control
            input(type="button",name="clear",value="Clear Pad")
        div.tool
          div.control
            div.clients-connected
      div#fb-root

