html
  head
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/js/homepage.js")
    link(href="/css/homepage.css", rel="stylesheet", type="text/css")
  body
    div.main
      h1.header BlotJot
      h2.subheader Draw together in real time across browsers and devices
      div.steps
        div.step
          div.step-name Board URL
          div.step-value
            span.url http://blotjot.com/
            input(type="text", maxlength=20, size=20, name="url_suffix", spellcheck="false")
        div.step
          div.step-name Size
          div.step-value
            button.size.iphone-size iPhone
            button.size.ipad-size iPad

